* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    touch-action:none;
}

#wrap {
    outline: none;
    height: 100%;
    min-height: 400px;
    position: relative;
    background: url("https://2048game.com/img/pattern/amam.png");
}

.game-box {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(187, 173, 160);
    position: relative;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

.game-over-screen {
    opacity:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 228, 218, 0.6);
    z-index: 100;
    transition: all 2s;
}
.game-over-screen::before {
    content: 'Game Over';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Changa One', cursive;
    font-size: 45px;
    color: rgb(119, 110, 101);
        white-space: nowrap;
    }

    .item-base {
        width: calc(80% / 8);
        height: calc(80% / 8);
        border-radius: 3px;
        margin: calc(20% / 9) 0 0 calc(20% / 9);
        background-color: rgb(205, 193, 180);
        float: left;
    }

    @keyframes uniteAni {
        0% {transform: scale(1)}
        50% {transform: scale(1.2)}
        100% {transform: scale(1)}
    }
    /* 변화시간은 animationTime 변수와 일치 */
    #wrap .uniteItem { animation: uniteAni 0.3s }
    #wrap .invisible {
        transform: scale(0,0);
    }
    div[class^=item-num] {
        border-radius: 3px;
    position: absolute;
    width: 10%;
    height: 10%;
    /* 변화시간은 transitionTime 변수와 일치 */
    transition: all 0.2s;
}
div[class^=item-num]::before {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Changa One', cursive;
    font-size: 40px;
}

div .item-num2 { background-color: rgb(238, 228, 218); }
div .item-num2::before { content: '2'; color: rgb(119, 110, 101); }

div .item-num4 { background-color: rgb(237, 224, 200); }
div .item-num4::before { content: '4'; color: rgb(119, 110, 101); }

div .item-num8 { background-color: rgb(242, 177, 121); }
div .item-num8::before { content: '8'; color: rgb(249, 246, 242); }

div .item-num16 { background-color: rgb(245, 149, 99); }
div .item-num16::before { content: '16'; color: rgb(249, 246, 242); }

div .item-num32 { background-color: rgb(246, 124, 95); }
div .item-num32::before { content: '32'; color: rgb(249, 246, 242); }

div .item-num64 { background-color: rgb(246, 94, 59); }
div .item-num64::before { content: '64'; color: rgb(249, 246, 242); }

div .item-num128 { background-color: rgb(237, 207, 114); }
div .item-num128::before { content: '128'; color: rgb(249, 246, 242); }

div .item-num256 { background-color: rgb(237, 205, 98); }
div .item-num256::before { content: '256'; color: rgb(249, 246, 242); }

div .item-num512 { background-color: rgb(237, 200, 80); }
div .item-num512::before { content: '512'; color: rgb(249, 246, 242); }

div .item-num1024 { background-color: rgb(237, 197, 63); }
div .item-num1024::before { content: '1024'; color: rgb(249, 246, 242); }

div .item-num2048 { background-color: rgb(237, 194, 46); }
div .item-num2048::before { content: '2048'; color: rgb(249, 246, 242); }

.yx00 { top: calc(20% / 9 * 1); left: calc(20% / 9 * 1); }
.yx01 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx02 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx03 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx04 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx05 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx06 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx07 { top: calc(20% / 9 * 1); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx10 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc(20% / 9 * 1); }
.yx11 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx12 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx13 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx14 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx15 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx16 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx17 { top: calc((20% / 9 * 2) + (80% / 8 * 1)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx20 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc(20% / 9 * 1); }
.yx21 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx22 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx23 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx24 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx25 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx26 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx27 { top: calc((20% / 9 * 3) + (80% / 8 * 2)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx30 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc(20% / 9 * 1); }
.yx31 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx32 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx33 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx34 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx35 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx36 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx37 { top: calc((20% / 9 * 4) + (80% / 8 * 3)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx40 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc(20% / 9 * 1); }
.yx41 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx42 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx43 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx44 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx45 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx46 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx47 { top: calc((20% / 9 * 5) + (80% / 8 * 4)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx50 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc(20% / 9 * 1); }
.yx51 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx52 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx53 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx54 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx55 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx56 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx57 { top: calc((20% / 9 * 6) + (80% / 8 * 5)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx60 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc(20% / 9 * 1); }
.yx61 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx62 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx63 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx64 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx65 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx66 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx67 { top: calc((20% / 9 * 7) + (80% / 8 * 6)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

.yx70 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc(20% / 9 * 1); }
.yx71 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 2) + (80% / 8 * 1)); }
.yx72 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 3) + (80% / 8 * 2)); }
.yx73 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 4) + (80% / 8 * 3)); }
.yx74 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 5) + (80% / 8 * 4)); }
.yx75 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 6) + (80% / 8 * 5)); }
.yx76 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 7) + (80% / 8 * 6)); }
.yx77 { top: calc((20% / 9 * 8) + (80% / 8 * 7)); left: calc((20% / 9 * 8) + (80% / 8 * 7)); }

@media (max-width: 800px) {
    .game-box {
        width: 320px;
        height: 320px;
    }
    div[class^=item-num]::before {
        font-size: 25px;
    }
}
